.nav-items {
    list-style:none;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items > li {
    padding: 10px;
    font-weight:bold;
    cursor: pointer;
}

.img {
    width: 100px;
}

.footer {
    background-color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
}
